header{
    color: rgb(80, 38, 38);
    width: 100vw;
    height: 100vh;
    background-image: url('./img/unsplash.jpg');
    background-position :bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center
}